.levelset{
    color:#8BBA51;
    text-align: center;
}

.tr_body_content{
	color:#000000;
}
.price_color{
background-color:#EAEAEA;
text-align:center;
}
.details{
	text-align: center;
}
.level_title{
	background-color:#0072bb;
    color:#ececec;
    text-align: center;
}