.example-card {
  width: 400px;
  border:2px solid !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
.mat-button{
	width: 100%;
	background-color: lightsteelblue;
}